@define-color white #ffffff;
@define-color black #000000;
@define-color blue #0000ff;
@define-color redish #f22c29;
@define-color yellow #ffff00;
@define-color green #00ff00;

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 24px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: @black;
    color: @white;
    transition-property: background-color;
}

#workspaces button {
    padding: 0 4px;
    min-width: 20px;
    color: @white;
    background-color: @black;
}

#workspaces button.active {
    background-color: rgba(128, 128, 128, 0.4);
    color: @white;
    font-weight: bold;
    border-bottom: 2px solid @white;
}

#workspaces button:hover {
    background-color: rgba(128, 128, 128, 0.4);
    color: @redish;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.urgent {
    background-color: @redish;
}

#pipewire,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

#clock {
    color: @maroon;
}

#clock.date {
    color: @mauve;
}

#pulseaudio {
    color: @white;
}

#network {
    color: @white;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @redishblue;
}

