* {
    font-family: JetbrainsMono Nerd Font;
    font-size: 22px;
    min-height: 0;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#waybar {
    background: transparent;
    color: #c6d0f5;
    margin: 2px 2px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#bluetooth,
#workspaces,
#custom-lock {
    background-color: #101010;
    padding: 0 1rem;
    margin: 5px 0;
    border-radius: 20px;
}

#workspaces {
    margin-left: 5rem;
}

#workspaces button {
    color: #babbf1;
    min-width: 20px;
}

#workspaces button.active {
    background-color: rgba(128, 128, 128, 0.7);
    color: #99d1db;
    border-bottom: 3px solid #ffffff;
}

#workspaces button:hover {
    color: #85c1dc;
}

#clock {
    color: #8caaee;
    margin-right: 2rem;
}

#network {
    margin-right: 10px;
}

#memory {
    border-radius: 0px 0px 0px 0px;
}

#cpu {
    border-radius: 20px 0px 0px 20px;
}

#battery {
    color: #a6d189;
    border-radius: 0px 20px 20px 0px;
}

#battery.charging {
    color: #a6d189;
}

#battery.warning:not(.charging) {
    color: #e78284;
}

#backlight {
    color: #e5c890;
    border-radius: 0px 0px 0px 0px;
}

#pulseaudio {
    color: #ea999c;
    border-radius: 0px 0px 0px 0px;
}

#custom-lock {
    color: #babbf1;
}

#bluetooth {
    margin-left: 2rem;
    border-radius: 20px 0px 0px 20px;
}

#tray {
    border-radius: 0px 0px 0px 0px;
}

#custom-lock {
    border-radius: 0px 0px 0px 0px;
}
